{{#if err}}
<!-- In case of error, you should display div with class "errorContainer" -->
<!-- You can choose to display the first error or all of them (error message/s in your opinion) -->
<div>
    <div class="errorContainer">
        <p>{{err}}</p>
    </div>
</div>
{{/if}}

<section id="404Page" class="background-img">
    <div class="error-page">
        <h1>404</h1>
        <p>Woops. Looks like this page doesn't exist.</p>'
    </div>
</section>
