
    <main>
        <h1>Attach a new accessory</h1>
        <div class="form">
            <h2>Lucario</h2>
            <img class="cube" src="https://www.pokepedia.fr/images/thumb/7/7e/Lucario-DEPS.png/800px-Lucario-DEPS.png">
            <form action='/attach/accessory/650ed912a732a0588d926c5d' method="POST">
                <label for="accessory">Accessories</label> 
                    <select id="accessory" name="accessory"/>
                    <option value="Max Heal">Max Heal</option>,<option value="Heal">Heal</option>,<option value="Leppa Berry">Leppa Berry</option>
                    </select>
                <input type="submit" value="Attach">
            </form>
            <a class="btn" href="/details/650ed912a732a0588d926c5d">Back</a>
        </div>
    </main>
