
    <main>
        <h1>Lucario</h1>
        <img class="cube" src="https://www.pokepedia.fr/images/thumb/7/7e/Lucario-DEPS.png/800px-Lucario-DEPS.png">
        <div class="details">
            <p><span>Description:</span> My favourite sudo-legendary</p>
            <p><span>Difficulty level:</span> 5</p>
            <a class="btn" href="/">Back</a>
            <a class="btn" href="/attach/accessory/650ed912a732a0588d926c5d">Add Accessory</a>
        </div>
        <h2>Accessories</h2>
        <div class="accessories">
           
    <div class="accessory">
        <img src="https://i.imgur.com/H3agDsq.png" alt="stickerName">
        <h3>Golder Raz Berry</h3>
        <p>The best way to catch a pokemon.</p>
    </div>
    ,
    <div class="accessory">
        <img src="https://i.imgur.com/DHUpaAG.png" alt="stickerName">
        <h3>Pinap Berry</h3>
        <p>Gives extra candies</p>
    </div>
    ,
    <div class="accessory">
        <img src="https://www.serebii.net/brilliantdiamondshiningpearl/berries/6.png" alt="stickerName">
        <h3>Leppa Berry</h3>
        <p>I haven't seen it before...</p>
    </div>
    
        </div>
    </main>
