
    <main>
        <h1>Caterpie</h1>
        <img class="cube" src="https://archives.bulbagarden.net/media/upload/thumb/5/5e/0010Caterpie.png/250px-0010Caterpie.png">
        <div class="details">
            <p><span>Description:</span> Caterpie (Japanese: キャタピー Caterpie) is a Bug-type Pokémon introduced in Generation I.
It evolves into Metapod starting at level 7, which evolves into Butterfree starting at level 10.</p>
            <p><span>Difficulty level:</span> 2</p>
            <a class="btn" href="/">Back</a>
            
            <a class="btn" href="/attach/accessory/6511c766842bbcc7daeb86ea">Add Accessory</a>
            <a class="btn" href="/edit/6511c766842bbcc7daeb86ea">Edit</a>
            <a class="btn" href="/delete/6511c766842bbcc7daeb86ea">Delete</a>
        </div>
        <h2>Accessories</h2>
        <div class="accessories">
           
    <div class="accessory">
        <img src="https://i.imgur.com/H3agDsq.png" alt="stickerName">
        <h3>Golder Raz Berry</h3>
        <p>The best way to catch a pokemon.</p>
    </div>
    
        </div>
    </main>