
        <main>
            <h1>Gengar</h1>
            <img class="cube" src="https://i.etsystatic.com/15564591/r/il/940177/4133198307/il_fullxfull.4133198307_1uq5.jpg">
            <div class="details">
                <p><span>Description:</span> Gengar is fucking baddass...</p>
                <p><span>Difficulty level:</span> 5</p>
                <a class="btn" href="/">Back</a>
            </div>
        </main>